<div class="jumbotron">
  <h1>Contact</h1>
</div>
<p id="notice"><%= notice %></p>
<%= form_with model: @contact, class: 'card container form contacts__form' do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" class="row">
      <h2 class="col"><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul class="col">
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-group">
    <%= f.label :name, class: 'col contacts__form-new__field__label' do %>
      <div class="contacts__form-new__field__label__text">Name</div>
      <%= f.text_field :name, class: 'form-control contacts__form-new__field__label__input', placeholder: 'Jane Doe' %>
    <% end %>
  </div>
  <div class="row form-group">
    <%= f.label :email, class: 'col contacts__form-new__field__label' do %>
      <div class="contacts__form-new__field__label__text">Email</div>
      <%= f.email_field :email, class: 'form-control contacts__form-new__field__label__input', placeholder: 'janedoe@gmail.com' %>
    <% end %>
  </div>
  <div class="row form-group">
    <%= f.label :comments, class: 'col contacts__form-new__field__label' do %>
      <div class="contacts__form-new__field__label__text">Comments</div>
      <%= f.text_area :comments, class: 'form-control contacts__form-new__field__label__input', placeholder: 'Hello', rows: '3' %>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <%= f.submit 'Submit', class: 'button button-default' %>
    </div>
  </div>
<% end %>